/* body */
body{
    margin: 0 auto;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared style */
.section-position{
    max-width: 1140px;
}
.primary-color{
    color: rgba(78, 71, 255, 1);
}
.btn-primary{
    background-color:rgba(78, 71, 255, 1);
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    color: white;
    padding: 12px 36px;
}

/* nav styling */

.navigation
{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
.nav-logo-title{
 font-weight: 900;   /* Black or Extra-Bold */
 font-size: 35px;
}
.sign-up{
    padding: 12px 36px;
}

header{
    background-image: url('/images/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-content{
    max-width: 905px;
    text-align: center;
    margin: 0 auto;
    padding: 155px;
}
.banner-title{
    font-weight: bold;
    font-size: 65px;
}
/* action section styling */
.action-container{
    margin: 117px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}